* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

section {
  margin: 5rem auto;
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div {
  background-color: #f93;
  border: 1px solid #333;
  width: 300px;
  height: 150px;
  margin: 4em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div:nth-child(1) {
}
div:nth-child(1):hover {
}
div:nth-child(2) {
}
div:nth-child(2):hover {
}
div:nth-child(3) {
}
div:nth-child(3):hover {
}
div:nth-child(4) {
}
div:nth-child(4):hover {
}
