body {
  background-image: url("../images/blur-clean.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: auto;
  color: white;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translateY(-110%);
}

.wrapper > div {
  aspect-ratio: 1;
  width: 20%;
  font-size: 9rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper > div:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.747);
  animation: animacija 2s ease-in-out forwards;
}

.wrapper > div:nth-of-type(2) {
  background-color: rgba(177, 33, 33, 0.315);
  animation: animacija 2s ease-in-out 1.5s forwards;
}

.wrapper > div:nth-of-type(3) {
  background-color: rgba(139, 93, 7, 0.493);
  animation: animacija 2s ease-in-out 3s forwards;
}

@keyframes animacija {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(170%);
  }
}
